<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product Name='Foobar 0.0.1' Id='D21DDD9D-24E7-4BD8-A8D4-7BF904B95E65'
      Language='1033' Codepage='1252' Version='1.0.0'
      Manufacturer='Daniel Stutzman'>
    <Package Id='????????-????-????-????-????????????' Keywords='Installer'
      Description="Daniel Stutzman's Wasp 0.0.1 Installer"
      Comments='Wasp stands for What - Another Scheduling App?'
      Manufacturer='Daniel Stutzman' InstallerVersion='100'
      Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    <Condition Message='This setup requires the .NET Framework 2.0 or higher.'>
      <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
    </Condition>
    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLDIR' Name='Foobar10' LongName='Foobar 1.0'>
            <Component Id='MainExecutable'
                Guid='D2DB8AA1-BC85-4EA6-8AE3-3050BE636258'>
              <File Id='FoobarEXE' Name='Wasp.exe'
                  LongName='Wasp.exe' DiskId='1'
		  Source='../wasp/bin/release/Wasp.exe' Vital='yes'>
                <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuDir"
                  Name="Foobar10" 
                  LongName="Foobar 1.0" WorkingDirectory='INSTALLDIR'
                  Icon="Foobar10.exe" IconIndex="0" />
                <Shortcut Id="desktopFoobar10" Directory="DesktopFolder"
                  Name="Foobar10"
                  LongName="Foobar 1.0" WorkingDirectory='INSTALLDIR'
                  Icon="Foobar10.exe" IconIndex="0" />
              </File>
            </Component>
            <Component Id='Log4NetLibrary' Guid='4DD8AF10-D920-11DD-AD8B-0800200C9A66'>
	      <File Id='Log4NetDll' Name='log4net.dll' DiskId='1' Source='../wasp/bin/release/log4net.dll' Vital='yes' />
            </Component>
            <Component Id='Log4NetConfiguration' Guid='54053070-D920-11DD-AD8B-0800200C9A66'>
	      <File Id='Log4NetConfig' Name='log4net.con' LongName='log4net.config' DiskId='1' Source='../wasp/bin/release/log4net.config' Vital='yes' />
            </Component>
        </Directory>
      </Directory>
    </Directory>
    <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
      <Directory Id="ProgramMenuDir" Name='Foobar10' LongName="Foobar 1.0" />
    </Directory>
    <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='Log4NetLibrary' />
      <ComponentRef Id='Log4NetConfiguration' />
    </Feature>

    <Icon Id="Foobar10.exe" SourceFile="../wasp/bin/release/Wasp.exe" />
  </Product>
</Wix>

