<%= error_messages_for 'alarm' %>

<!--[form:alarm]-->
<p><label for="alarm_datetime">Datetime</label><br/>
<%= text_field 'alarm', 'datetime'  %></p>
<p><label for="alarm_name">Name</label><br/>
<%= text_field 'alarm', 'name'  %></p>
<p><label for="alarm_name">Armed</label><br/>
<%= text_field 'alarm', 'armed'  %></p>
<!--[eoform:alarm]-->
