<% for column in Alarm.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @alarm.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @alarm %> |
<%= link_to 'Back', :action => 'list' %>
